@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: "Montserrat", "sans-serif";
}

/*-------------------------Header----------------------- */ 
.site-logo {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #811818;
}

.site-logo a {
    text-decoration: none;
    color: #fff;
}

.site-logo i {
    padding: 0.3rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar a {
    color: #811818;
}
.navbar a:hover {
    color: #811818;
    font-weight: 600;
}

.navbar .nav-item .active {
    font-weight: 600;
    color: #003049;
}

.nav-link:focus {
    color: #811818;
    font-weight: 600;
}
