@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: "Montserrat", "sans-serif";
}

/*-------------------------Header----------------------- */ 
.site-logo {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #811818;
}

.site-logo a {
    text-decoration: none;
    color: #fff;
}

.site-logo i {
    padding: 0.3rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar a {
    color: #811818;
}
.navbar a:hover {
    color: #811818;
    font-weight: 600;
}

.navbar .nav-item .active {
    font-weight: 600;
    color: #003049;
}

.nav-link:focus {
    color: #811818;
    font-weight: 600;
}

/*-------------------------Checkboxes----------------------- */ 
.inbox {
    padding: .5rem;
    max-width: 25rem;
    margin: 3rem auto;
    border-radius: .4rem;
    border: #811818 solid .2rem;
    box-shadow: .5rem .5rem 0 rgba(0,0,0,0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: #F1F1F1 solid .06rem;
}

input[type="checkbox"] {
    margin: 1.25rem;
}

p {
    margin: 0;
    padding: 1.25rem;
    flex: 1;
    border-left: #D1E2FF solid .06rem;
}

input:checked + p {
    background: #F9F9F9;
    text-decoration: line-through;
}